.button {
    background-color:darkcyan;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(29, 211, 211)
}

/* background-color of the app */
/* content to be centered in the middle of the page horizontally and vertically */
body {
    background-color: rgb(219, 240, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin : 0;
    width: 100vw;
    font-family:'Times New Roman', Times, serif;
}
